<mat-card>

  <mat-card-header>
    <mat-card-title>
      {{ editMode ? 'Update Employee' : 'Add Employee' }}
    </mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <!-- Name -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">

        @if(employeeForm.get('name')?.touched &&
        employeeForm.get('name')?.invalid){
        <mat-error>Name is required</mat-error>
        }

      </mat-form-field>

      <br>

      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">

        @if(employeeForm.get('email')?.touched &&
        employeeForm.get('email')?.errors?.['required']){
        <mat-error>Email is required</mat-error>
        }

        @if(employeeForm.get('email')?.touched &&
        employeeForm.get('email')?.errors?.['email']){
        <mat-error>Enter valid email</mat-error>
        }

      </mat-form-field>

      <br>

      <!-- Mobile -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile">

        @if(employeeForm.get('mobile')?.touched &&
        employeeForm.get('mobile')?.errors?.['required']){
        <mat-error>Mobile is required</mat-error>
        }

        @if(employeeForm.get('mobile')?.touched &&
        employeeForm.get('mobile')?.errors?.['pattern']){
        <mat-error>Mobile must contain 10 digits</mat-error>
        }

      </mat-form-field>

      <br>

      <!-- Department -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Department</mat-label>
        <input matInput type="text" formControlName="department" list="departmentList" autocomplete="off">

        <datalist id="departmentList">

          <option value="Java"></option>
          <option value="Python"></option>
          <option value="JavaScript"></option>
          <option value="Angular"></option>
          <option value="React"></option>
          <option value="Spring Boot"></option>
          <option value="Node.js"></option>

          <option value="HR"></option>
          <option value="IT"></option>
          <option value="Finance"></option>
          <option value="Sales"></option>
          <option value="Marketing"></option>
          <option value="Operations"></option>
          <option value="Administration"></option>

        </datalist>

        @if(employeeForm.get('department')?.touched &&
        employeeForm.get('department')?.invalid){
        <mat-error>Department is required</mat-error>
        }

      </mat-form-field>

      <!-- Role -->
      <mat-form-field *ngIf="!editMode" appearance="outline" class="full-width">

        <mat-label>Role</mat-label>

        <mat-select formControlName="role">

          <mat-option value="employee">
            Employee
          </mat-option>

          <mat-option value="admin">
            Admin
          </mat-option>

        </mat-select>

      </mat-form-field>

      <!-- PAssword -->
      <mat-form-field *ngIf="!editMode" appearance="outline" class="full-width">

        <mat-label>Temporary Password</mat-label>

        <input matInput type="password" formControlName="password">

      </mat-form-field>

      <br>

      <button mat-raised-button type="submit" [disabled]="employeeForm.invalid">

        {{ editMode ? 'Update Employee' : 'Add Employee' }}

      </button>

    </form>

  </mat-card-content>

</mat-card>